@model MyWebApp.Models.Student;
<h4>Student Details: </h4>
<br />
<br />
<h6>Student Id: @Model.StdID</h6>
<br />
<h6>Student Name: @Model.Name</h6>
<br />
<h6>Student Address: @Model.Address</h6>
<br />
<h6>Student Faculty: @Model.Faculty</h6>
<br />
<h6>Student Phone Number: @Model.PhoneNo</h6>
<br />